body {
    background-color: #8DF8DE;
    font-family: 'Mynerve', cursive;
}

#div0 {
float:none;
}
#div1{
    float: left;
    margin: 25px 0px 0 auto;
}
#div2{
    float: left;
    margin: 0px 1em 0 10px;
}
#div3{
    float: left;
    margin: 0px 1em 0 10px;
}
#div4{
    float: none;
    clear: both;
}